.h1 {
    text-align: center;
}
.font_icons {
    background-color: rgb(38, 38, 192);
    border-radius: 20px 45px 30px 20px;
    transition: width 2s;
    height: 100px;
    justify-content: center;
    width: 300px;
}
.font_icons:hover {
    width: 500px;
}
.cube {
    background-color: rgb(38, 38, 192);
    border-radius: 20px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    width: 500px;
}
.cubes  {
    animation: skew 3s infinite;
    background-color: white;
    opacity: 0.7;
    transform: skew(20deg);
    transform: skew(-20deg);
    animation-direction: alternate;
    width: 100px;
    height: 100px;
}